html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  position: fixed;
}

.head {
  font-size:25px;
}

.container {
  display: flex;
  text-alight: center;
}

div id

.main {
  padding-left: 30px;
  min-width: 75%;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: -20px;
}

h2 {
  font-size:30px;
  text-align: center;
  margin-bottom: -10px;
}  

h3 {
  font-size:22px;
  text-align: center;
  margin-bottom: -10px;
}
  
p {
 
}
