html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: -20px;
}

h2 {
  font-size:30px;
  text-align: center;
  margin-bottom: -10px;
}  

h3 {
  font-size:22px;
  text-align: center;
  margin-bottom: -10px;
}
  
p {
 
}
