html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  position: left;
  padding:0;
  marging:0;
}

.head {
  font-size:25px;
  padding:0;
  margin:0;
  dispay:inline-block;
  float:left;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding:0;
  margin:0;
  float:0;
  display:inline-block;
}

h2 {
  font-size:26px;
  text-align: center;
  padding:0;
  margin:0;
  float:0;
  display:inline-block;
}  

h4 {
  font-size:22px;
  text-align: left;
  padding:0;
  margin:0;
}

h6 {
  font-size:18px;
  text-alight:center;
  padding:0;
  margin:0;
}
