html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

div {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  position: left;
  padding:5;
  marging:5;
}

.head {
  font-size:25px;
  padding:5;
  margin:5;
  float:left;
}

p {
  text-align: left;
  color: red;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding:0;
  margin:0;
  float:0;
}

h2 {
  font-size:26px;
  text-align: center;
  padding:0;
  margin:0;
  float:0;
}  

h4 {
  font-size:22px;
  text-align: left;
  padding:0;
  margin:0;
}

h6 {
  font-size:18px;
  text-alight:left;
  padding:0;
  margin:0;
}
